@import "/src/sass/colors";

.tool-wrapper {
  color: inherit;
  text-decoration: none;

  & > :hover {
    color: $clr-accent;
    cursor: pointer;
  }
}

.tool-wrapper-layout {
  align-items: center;
  display: flex;
  gap: .5em;
  justify-content: center;
}