$clr-white: hsl(0, 0%, 100%);
$clr-white-90: hsla(0, 0%, 100%, 0.9);
$clr-white-67: hsla(0, 0%, 100%, 0.667);
$clr-white-33: hsla(0, 0%, 100%, 0.333);

$clr-neutral-100: hsl(0, 0%, 100%);
$clr-neutral-80: hsl(0, 0%, 80%);
$clr-neutral-60: hsl(0, 0%, 60%);
$clr-neutral-40: hsl(0, 0%, 40%);
$clr-neutral-20: hsl(0, 0%, 20%);