$clr-white: hsl(0, 0%, 100%);
$clr-white-90: hsla(0, 0%, 100%, 0.9);
$clr-white-67: hsla(0, 0%, 100%, 0.667);
$clr-white-33: hsla(0, 0%, 100%, 0.333);

$clr-neutral-100: hsl(0, 0%, 100%);
$clr-neutral-80: hsl(0, 0%, 80%);
$clr-neutral-60: hsl(0, 0%, 60%);
$clr-neutral-40: hsl(0, 0%, 40%);
$clr-neutral-20: hsl(0, 0%, 20%);
$clr-neutral: hsl(0, 0%, 0%);

$clr-primary: hsl(269, 48%, 90%);
$clr-primary-dark: hsl(238, 34%, 60%);
$clr-secondary: hsl(276, 84%, 75%);
$clr-secondary-dark:hsl(235, 22%, 31%);
$clr-accent: hsl(189, 59%, 76%);

$clr-gradient-start: hsl(314, 58%, 68%);
$clr-gradient-end: hsl(220, 43%, 47%); 
$clr-gradient: linear-gradient(45deg, $clr-gradient-start 0%, $clr-gradient-end 75%);
$clr-background: rgb(220,125,198);
