@import "/src/sass/colors";
@import "/src/sass/breakpoints";

.footer-wrapper {
  align-items: center;
  background: $clr-background;
  background: $clr-gradient;
  color: $clr-primary;
  display: grid;
  flex-direction: column;
  grid-template-rows: 1fr 1fr 1fr;
  height: 50vh;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.footer-icons {
  align-items: center;
  display: flex;
  gap: 3em;
  justify-content: center;

  @include mq(s) {
    gap: 4em;
  }

  & > * {
    max-width: 3em;
  }

  & > *:hover {
    color: $clr-accent;
    cursor: pointer;
    transform: scale(1.1);
  }
}

.email-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 3em;

  & :nth-child(1) {
    margin: 1em 0;
  }
}

.email {
  position: relative;
  height: 0;
  text-decoration: none;
}

.tools-wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: .5em;

  @include mq(s) {
    flex-direction: initial;
    gap: 1.5em;
  }
}

.tools {
  align-items: center;
  display: flex;
  gap: 1.5em;
  justify-content: center;
}